@import "tailwindcss";

@theme {
  --color-correct: #3aa394;
  --color-present: #d3ad69;
  --color-wrong: #222;

  --color-dark: #111;
}

* {
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: var(--color-dark)
}