@import "tailwindcss";

@theme {
  --color-correct: #3aa394;
  --color-present: #d3ad69;
  --color-wrong: #222;
  --color-wrong-light: #444;

  --color-dark: #111;
  --color-danger: #e5484d;

  --animate-shake: shake 0.5s ease-in-out;
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
    20%, 40%, 60%, 80% { transform: translateX(3px); }
  }
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-dark);
  background-image: radial-gradient(circle, var(--color-wrong) 1px, var(--color-dark) 1px);
  background-size: 20px 20px;
  background-position: center center;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--color-dark);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-wrong);
}